<script setup lang="ts">
import { mdiSchool,mdiSchoolOutline,mdiBook } from '@mdi/js';</script>
<template>
  <v-container>
    <v-card class="mx-auto" max-width="700" rounded="0">
      <v-img
        height="100%"
        cover
        src="https://us-fbcloud.net/picpost/data/263/263833-qgdtri-21.n.jpg"
      >
        <v-avatar size="190" rounded="0">
          <v-img
            cover
            src="https://scontent.fbkk20-1.fna.fbcdn.net/v/t1.6435-9/184401612_1505721702955404_5105613070502311784_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=174925&_nc_eui2=AeErTWM3aF6N8PPyTGlDHVM2lIIZS8SW27KUghlLxJbbshD8Ww3RNsgzp0snnm8RVDIwNARTGt5CuT_y0yl4_g4U&_nc_ohc=K_lAQWlS5hIAX86Khb4&_nc_ht=scontent.fbkk20-1.fna&oh=00_AfDw_PT751Dh-zip-oi1x34EPPZanZd5qqkLM9-oQWL-zw&oe=63C63DAB"
          ></v-img>
        </v-avatar>
        <v-list-item
          class="text-white"
          title="Manutchanok Saetiaw"
          subtitle="Burapha University"
        ></v-list-item>
      </v-img>
    </v-card>

    <v-table>
      <v-row>
        <v-col>
          <div class="d-flex align-center flex-column">
            <br />

            <v-card
              width="1000"
              title="Name"
              text="MISS Manutchanok Saetiaw"
            ></v-card>

            <br />

            <v-card class="mx-auto" width="1000" >
              <template v-slot:title><v-icon :icon="mdiSchoolOutline"/> Educational Record </template>

              <v-card-text> Elementary School </v-card-text>
              <v-card-text> - Bankhaochonglom </v-card-text>
              <v-card-text> Secondary School </v-card-text>
              <v-card-text> - Chumphon Pittayakom </v-card-text>
            </v-card>
            <br />

            <v-card class="mx-auto" width="1000" >
              <template v-slot:title><v-icon :icon="mdiSchool"/> Education level </template>

              <v-card-text> Bachelor's degree </v-card-text>
              <v-card-text> - Burapha University </v-card-text>

            </v-card>

            <br />
            <v-card class="mx-auto" width="1000" >
              <template v-slot:title><v-icon :icon="mdiBook"/> Interests </template>

              <v-card-text> writing java </v-card-text>
              <v-card-text> multimedia design </v-card-text>

            </v-card>
          </div>
        </v-col>
      </v-row>
    </v-table>
  </v-container>
</template>
